<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<% if @articles %>

<div>
    <%= paginate(@articles) %>
    <%= page_entries_info @articles %>
    <ul>
        <% @articles.each do |p| %>
        <li>
            <h3><%= link_to p.title, article_path(p.id) %></h3>
            <p><small><strong>By:</strong> <%= p.user_id %></small></p>
            <p><%= p.resume %></p>
            <p><%= image_tag p.image_url(:thumb) if p.image? %></p>
            <% if user_signed_in? -%>
            <table>
              <tr>
            <td><%= link_to 'Show // ', p %></td>
            <td><%= link_to 'Edit // ', edit_article_path(p) %></td>
            <td><%= link_to ' Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          </table
            <% end -%>
        </li>
        <% end %>
    </ul>
    <%= paginate(@articles) %>
</div>


<% else %>
<p><%= puts "Il n'y a pas d'articles à afficher" %><p>

<% end %>
