<!DOCTYPE html>
<html>
<head>
  <title>Share it, just another blog !</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/menu' %>
  <%= render 'layouts/flash_messages' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

 <!-- Utilisé par Devise -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<!-- fin -->


</body>
</html>
