<!DOCTYPE html>
<html>
<head>
  <title>Shareit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<navbar id="navbar">
<%= link_to "HOME", root_path %> //
<br>
<%= link_to 'New article', new_article_path %>
</navbar>
</div>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



<%= render 'layouts/adminmenu' %>

<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
